node_modules
migrations
vendor
var

.env.local.php
.idea
.env

composer.lock
composer.json
composer.phar
docker-compose.override.yml
docker-compose.yml
package-lock-.json
package.json
symfony.lock
webpack.config.js